.search-box {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

.chord-shape {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.fretboard-mini {
  font-family: monospace;
  margin-top: 8px;
}

.selected {
  background-color: #4CAF50;
  color: white;
  padding: 0px 1px;
  border-radius: 2px;
  margin-right: 2px;
}


button {
  width: 40px;
  font-size: 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}